@{
    ViewBag.Title = "网站设置";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_EuiAndBoot.cshtml";
}
@using EFModels;
@model CDELINK_WebSite
<div style="height:100%;width:100%">
    <form class="form-horizontal" role="form" id="dataForm" style="width:600px;padding:10px;">
        <input type="hidden" name="ID" value="@Model.ID" />
        <div class="form-group">
            <label class="col-sm-2 control-label">网站ICON</label>
            <div class="col-sm-10">
                <div id="sWebSiteIcon"></div>
                <input type="hidden" name="sWebSiteIcon" value="@Model.sWebSiteIcon"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">网站名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入网站名称" name="sWebSiteName" value="@Model.sWebSiteName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">法院名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入法院名称" name="sCourtName" value="@Model.sCourtName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">法院标识</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="请输入法院标识" name="sCourtSign" value="@Model.sCourtSign">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10" style="text-align:left">
                <button type="button" class="btn btn-primary" id="ok">保 存</button>
            </div>
        </div>  
    </form>
</div>
<script src="~/Scripts/plug-in/picture/upload.js"></script>
<script type="text/javascript">
    $(function () { 
        var admin = new adminPackage();
        //路由注册
        admin.routeRegister("Admin","WebSite");

        var picture = new upload();
        picture.create("sWebSiteIcon", {
            width: 50, height: 50,
            path: "WebSiteIcon",//上传图片的目录
            VirtualDirectory: admin.virtualPath
        });

        //提交操作
        $('#ok').on("click", function () {
            var bootstrapValidator = admin.form.data('bootstrapValidator');
            bootstrapValidator.validate();
            var res = bootstrapValidator.isValid();
            if (res) {
                admin.button.disabled();
                admin.Ajax(admin.route("SetWebSite"), admin.form.serialize(), function (r) {
                    admin.alert("操作成功");
                    admin.button.enable();
                });
            }
        });

        //表单验证
        admin.formValidator(admin.form, {
            sWebSiteName: {
                validators: {
                    notEmpty: {
                        message: '网站名称不能为空'
                    },
                }
            },
            sCourtName: {
                validators: {
                    notEmpty: {
                        message: '法院名称不能为空'
                    },
                }
            },
            sCourtSign: {
                validators: {
                    notEmpty: {
                        message: '法院标识不能为空'
                    },
                }
            }
        });

    });
</script>
